################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group13_iCAREAPP/CopilotIndices/17.12.21.54468
/.vs/Group13_iCAREAPP/FileContentIndex/11acfab4-b2d2-41a7-8dbf-e715d7a45db6.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/1b5dd498-45d1-4484-a273-65090c848fc3.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/726bc042-05b0-4eed-9b5c-121e9d529236.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/748f5955-688d-417d-8140-f21a83b8b2ce.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/b173af07-8587-4c1c-aec9-b29a46b300bf.vsidx
