################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Group13_iCAREAPP/CopilotIndices/17.12.21.54468
/.vs/Group13_iCAREAPP/FileContentIndex/11acfab4-b2d2-41a7-8dbf-e715d7a45db6.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/1b5dd498-45d1-4484-a273-65090c848fc3.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/726bc042-05b0-4eed-9b5c-121e9d529236.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/748f5955-688d-417d-8140-f21a83b8b2ce.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/b173af07-8587-4c1c-aec9-b29a46b300bf.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/1f98ee52-a6df-438a-8b7c-31764c57f689.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/22f2c5e0-b7b6-42f3-aeae-7bd3feb9fcf5.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/415f269a-9508-4cec-8412-263d56948fed.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/74a44226-fd62-44f5-b777-c4d450841a22.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex/a552d15d-80b5-4541-a16c-4473b42c020e.vsidx
/.vs/Group13_iCAREAPP/FileContentIndex
/.vs/Group13_iCAREAPP/FileContentIndex
