<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - iCare</title>
</head>
<body>
    <div id="root">
        @RenderBody()
    </div>

    @if (Context.IsDebuggingEnabled)
    {
        <script src="http://localhost:3000/static/js/bundle.js"></script>
    }
    else
    {
        <script src="~/clientapp/build/static/js/main.js"></script>
        <link href="~/clientapp/build/static/css/main.css" rel="stylesheet" />
    }
</body>
</html>